<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - {{ user.username }}</title>
</head>
 <script src="/socket.io/socket.io.js"></script>
  <script>
    
  const socket = io();
   const userData = {
    username: '{{ user.username }}',
    userId: '{{ user.userId }}' ,
  };
  console.log(userData)
  // Emit the 'setUsername' event with the JSON string
  socket.emit('setUsername', userData);
  
 </script>
<body>
  <h3>Waiting for users to start drafting room. Press reload every couple of seconds</h3>
<br>
    <p><a href="/dashboard">Back</a></p>
</body>
</html>